# ===============================
# macOS
# ===============================
.DS_Store
**/.DS_Store

# ===============================
# Python Bytecode
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environments
# ===============================
venv/
.venv/
env/
ENV/

# ===============================
# Distribution / Packaging
# ===============================
build/
dist/
*.egg-info/
.eggs/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Environment Variables
# ===============================
.env
.env.*

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# IDE Files
# ===============================
.vscode/
.idea/

# ===============================
# Pytest / Coverage
# ===============================
.pytest_cache/
.coverage
htmlcov/

# ===============================
# System Files
# ===============================
Thumbs.db